body{
    margin: 0px;
    background: #E1E1E1;
}


#topBlock{
    background: #4A90E2;
    height: 75px;
    text-align: center;
    margin-bottom: 24px;
}

.bookMark{
    background: #4A90E2;
    color: #00408B;
    text-align: center;
    font-size: 24px;
    height: 75px;
    width: 220px;
    border:none;
}

.select_bookMark{
    color: #ffffff;
    height: 70px;
    border-bottom:solid 5px #00408B;
}

.content{
    text-align: center;
}

#addTask{
    width: 620px;
    height: 65px;
    font-size: 24px;
    color: #C8C8C8;
    border: 2px solid #C8C8C8;
    border-radius: 5px;
}

.addButton{
    width: 310px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border:none;
}

.saveButton{
    background: #4A90E2;
    color: #ffffff;
}

.cancelButton{
    background: #fffffd;
    color: #D0021B;
}